<div class="memberForm">
    <%= label_tag "Type an email address" %>
    <%= text_field_tag "group_members[]" %> <a href='#' onClick="removeMember($(this))" class="remove-member" > X </a>
    <br>
</div>