<body>
    
    <%= render "welcome/header" %>
    
    <div class="create-event">
        <div class="event-header">
            <h3>Create a new event</h3>
            
        </div>
        
        <div class="event-body">
            <p> <button id="white-button"><%= link_to 'Cancel', welcome_homepage_path %></button></p>
        </div>
    </div>

</body>