
<body>
    
    <h1>WhenIsBest</h1>
    
    <button>Add to calendar</button>
    <button>Create group</button>

    <div>
        <h2>Your Groups</h2>
    </div>
    
    <%= link_to 'Add groups', controller: 'groups' %>
    
</body>
