<body>
    
    <div class="header">
        <h2>WhenIsBest</h2>
        <p>Hello, <%= @user.first_name %>! This is what your schedule looks like this week.</p>
        <button >Add to calendar</button>
    </div>
    
    
    <div class="content">
        
        <div class="sidebar">

            <div class="groups">
                <h3>Your Groups</h3>
                <button><%= link_to 'Create new group', new_group_path %></button>
            </div>

            <div class="group-list">
                <table>
                  <% @groups.each do |group| %>
                    <tr>
                        <td>
                            <div id="group-item">
                                <h4><%= link_to group.name, group_path(group) %></h4>
                                <p><%= group.description %></p>
                            </div>
                        </td>
                    </tr>
                  <% end %>
                </table>
            </div>

        </div>

        <div class="calendar">
            <p>This is where the calendar should be.</p>
        </div>
        
    </div>
    
</body>