<%= form_for @static_page do |f| %>
 
  <% if @static_page.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@static_page.errors.count, "error") %> prohibited
        this static_page from being saved:
      </h2>
      <ul>
        <% @static_page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= @static_page.group %>
 
<% end %>