<body>
    
    <%= render "welcome/header" %>

    
    <div class="create-event">
        <div class="event-header">
            Suggest a new group event
            
        </div>
        
        <div class="event-body">
            
            <%= render 'form_group' %>
            <button id="white-button"><%= link_to 'Cancel', welcome_homepage_path %></button></p>
            
        </div>
    </div>

</body>