<html>
<body>
    
    <div class="header">
        <div class="center">
            <div class="login_header">
                <h2 id="header_color">Welcome!</h2> 
            </div>
            
        </div>
           
    </div>
    <div class="content">
        
        <div class="center">
            <div class="center">
                <img src="https://raw.githubusercontent.com/WhenIsBest/whenisbest/master/rsz_whenisbest_-_logo.png" />
            </div>
            
            <div class="button_line">
            <%= button_to "Log in", login_path, :method => "get",:class => "button" %>
            <%= button_to "Sign Up", signup_path, :method => "get",:class => "button" %>
            </div>
		</div> 
        <div class="center">
			<p> A quick and easy alternative to whenisgood. Schedule meetings with ease using our combined calendar platform. 
			</p> 
            <p>Brought to you by SMART (Square Meals: Awkwardly Reaching Termination).
            </p>
		</div>
    </div>
	
</body>
</html>
 
        
		