<html>
<body>
	<div class ="container">
		<div class="center">
			<h1>whenisbest</h1>

	   		<p><%= link_to 'Login', login_path %> </p>
            <p><%= link_to 'Sign Up', signup_path %></p>
			
			<h2> Welcome!<h2>
		</div>
		<div class="description">
			<p> A quick and easy alternative to whenisgood. Schedule meetings with ease using our combined calendar platform. 
			</p> 
            <p>Brought to you by SMART (Square Meals: Awkwardly Reaching Termination).</p>
		</div>
	</div>
</body>
</html>