<html>
<body>
	<div class ="container">
		<div class="center">
			<h1>Whenisbest</h1>

	   		<p><%= link_to 'Login', login_path %>
			   <%= link_to 'Sign Up', signup_path %>
			</p>
			<h2> Welcome!<h2>
		</div>
		<div class="discription">
			<p> A quick and easy alternative to WhenisGood. Schedule meetings with ease using our combined calendar platform. Brought to you by FSMAT (Former Square Meals App Team).
			</p> 

		</div>
	</div>
</body>
</html>