// Place all the styles related to the Onboarding controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    font-family: sans-serif;
    background-color: lightblue;
    
}
.container{

    position: relative;
}
.center {
   margin: 0 auto;
   text-align: center;
}