// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.button-div2{
  margin: auto;
  width: 97px;
  height: 20px;

}

.form{
  margin:40px auto;
  width: 70px;
  height: 20px;
}

.button {
  margin: auto;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color:white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color:midnightblue;
  color: white;
}

.button:active {
  background-color: midnightblue;
  box-shadow: 0 5px white;
  transform: translateY(4px);
  //color: white;
}