// Place all the styles related to the Sessionsnew controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login_content {
    margin-top: 70px;
    left: 0px;
}
.login_header{
    #header_color{
        color: midnightblue;
    }
}

