// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    font-family: sans-serif;
    background-color: #f7f7f7;
}

.header {
    background-color: white;
    width: 100%;
    margin: 0px auto;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 1px 0px 1px #888888;
    
    button {
        -moz-box-shadow:inset 0px 1px 0px 0px #9fb4f2;
        -webkit-box-shadow:inset 0px 1px 0px 0px #9fb4f2;
        box-shadow:inset 0px 1px 0px 0px #9fb4f2;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
        background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
        background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
        background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
        background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
        background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
        background-color:#7892c2;
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        border:1px solid #4e6096;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:12px;
        font-weight:bold;
        padding:5px;
        text-decoration:none;
        text-shadow:0px 1px 0px #283966;
    }
    
    button:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
        background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
        background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
        background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
        background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
        background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
        background-color:#476e9e;
    }
    
    button:active {
        position:relative;
        top:1px;
    }

    
    h2 {
        color: darkblue;
        padding: 0px;
        margin-top: 10px;
        margin-left: 7px;
        margin-bottom: 0px;
    }
    
    p {
        padding: 0px;
        margin-top: 5px;
        margin-left: 7px;
        margin-bottom: 10px;
        font-size: 15px;
    }
    
    #left {
        float: left;
    }
    
    #right {
        float: right;
        padding-top: 10px;
        padding-right: 7px;
    }

}

.content {
    margin-top: 70px;
    left: 0px;
}

.sidebar {
    
    width: 370px;
    background-color: azure;
    float: left;
    left: 0px;
    padding-top: 0px;
    
    button {
        -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
        background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
        background-color:#ffffff;
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        border:1px solid #dcdcdc;
        display:inline-block;
        cursor:pointer;
        color:#666666;
        font-family:Arial;
        font-size:12px;
        font-weight:bold;
        padding: 5px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffffff;
    }
    
    button:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
        background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
        background-color:#f6f6f6;
    }
    
    button:active {
        position:relative;
        top:1px;
    }
    
    .groups {
        background-color: darkcyan;
        width: 100%;
        top: 0px; 
        padding: 7px;
        padding-top: 3px;
        padding-right: 0px;
        box-shadow: 1px 0px 1px #888888;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        
        h3 {
            color: white;
        }
    }

    .group-list {
        width: 100%;
        height: 600px;
        line-height: 3em;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 0px;
        padding-left: 5px;
        padding-right: 4px;
        background-color: white;
        color: darkgray;
        
        #group-item {
            width: 340px;
            border-bottom: thin solid darkgrey;
            margin: 0px;
            padding-left: 7px;
            
            h4 {
                padding: 0px;
                margin: 0px;
            }
            
            p {
                padding: 0px;
                margin: 0px;
            }
        }
        
        #group-item:hover {
            background-color: darkorange;  
        }
    }
}

.calendar {
    width: 1130px;
    height: 650px;
    float: right;
    margin: 0px;
    padding: 0px;
    
    .calendar-header {
        top: 0px;
        background-color: cadetblue;
        color: white;
        padding: 7px;
        padding-top: 3px;
        padding-right: 0px;
        box-shadow: 1px 0px 1px #888888;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        
            button {
                -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
                -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
                box-shadow:inset 0px 1px 0px 0px #ffffff;
                background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
                background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
                background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
                background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
                background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
                background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
                background-color:#ffffff;
                -moz-border-radius:6px;
                -webkit-border-radius:6px;
                border-radius:6px;
                border:1px solid #dcdcdc;
                display:inline-block;
                cursor:pointer;
                color:#666666;
                font-family:Arial;
                font-size:12px;
                font-weight:bold;
                padding: 5px;
                text-decoration:none;
                text-shadow:0px 1px 0px #ffffff;
            }

            button:hover {
                background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
                background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
                background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
                background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
                background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
                background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
                background-color:#f6f6f6;
            }

            button:active {
                position:relative;
                top:1px;
            }
    }
    
    .calendar-body {
        overflow: hidden;
        background-color: white;
    }
}